.projects-container {
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.projects-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects-title {
    color: #c7c3c3;
    font-size: 3em;
}