.projects-content-default article {
    width: 95%;
    height: 100vh;
}

.projects-content-default .text {
    background-color: #fff;
    height: 80%;
    width: 30%;
    text-transform: uppercase;
    flex-direction: column;
    position: relative;
}

.projects-content-default .text h2 {
    font-size: 2em;
    text-align: center;
}

.projects-content-default .text h3 {
    font-family: camptonL;
    text-align: center;
    margin: 0;
}

.projectDefault-links {
    display: flex;
    position: absolute;
    bottom: 5em;
    gap: 1em;
}

.projectDefault-links a {
    text-transform: uppercase;
    padding: 1.5em;
    border-radius: 10em;
    background-color: #000;
    color: #fff;
    border: none;
    transition: 300ms;
    display: flex;
    align-items: center;
}

.projectDefault-links a:hover {
    background-color: #ddae57;
}

.link-github {
    padding: 1em !important;
}

.projectDefault-links a img {
    height: 30px;
    width: 30px;
}

.projects-content-default .pics {
    height: 80%;
    width: 70%;
}

#picture1 {
    background: rgb(48, 49, 49);
    background: linear-gradient(90deg, rgba(48, 49, 49, 1) 0%, rgba(12, 10, 10, 1) 100%);
}

#picture2 {
    background: rgb(157, 49, 40);
    background: linear-gradient(90deg, rgba(157, 49, 40, 1) 0%, rgba(217, 152, 0, 1) 100%);
}

#picture3 {
    background: rgb(84, 84, 84);
    background: linear-gradient(90deg, rgba(84, 84, 84, 1) 0%, rgba(168, 168, 168, 1) 100%);
}

#picture4 {
    background: rgb(236, 219, 212);
    background: linear-gradient(90deg, rgba(236, 219, 212, 1) 0%, rgba(151, 63, 90, 1) 100%);
}

#picture5 {
    background: rgb(244, 243, 245);
    background: linear-gradient(90deg, rgba(244, 243, 245, 1) 0%, rgba(67, 68, 68, 1) 100%);
}

#picture6 {
    background: rgb(238,231,255);
    background: linear-gradient(90deg, rgba(78,71,218,1) 0%, rgba(238,231,255,1) 100%);
}