.projects {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

.projects-title {
    position: absolute;
    top: 0;
    left: -0.7em;
    height: 100%;
    color: #8E8E90;
    font-size: 5em;
    text-transform: uppercase;
    writing-mode: vertical-rl;
}